{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>EdFor</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		{% tailwind_css %}
	</head>
	<body class="bg-gray-200">
		{% include 'includes/student_sidebar.html' %}
		<div class="p-4 sm:ml-64">
			<div class="mt-16">
				<div
					class="bg-cover relative h-52 md:h-72"
					style="background-image: url('../../static/img/bg.png')">
					<div class="text-white absolute top-8 left-4 font-bold text-xl sm:text-3xl md:text-5xl">
						<p>{{room.class_name}} - {{room.subject}}</p>

						<p class="text-lg ml-4 mt-4 text-gray-200">{{room.section}}</p>
						<p class="text-lg ml-4 mt-4 text-gray-200">Instructor: {{room.instructor.first_name}}</p>
					</div>
				</div>

				<!-- Modal toggle -->
				<div class="flex flex-row items-center">
					{% for message in messages%} {% if message.level_tag == 'success' %}
					<p class="text-center text-green-600 font-bold mt-4 text-md">{{message}}</p>
					{% else %}
					<p class="text-center text-red-600 font-bold mt-4 text-md">{{message}}</p>
					{%endif%} {% endfor %}
				</div>

				<div class="mt-14 px-4">
					<div class="mb-4 border-b border-gray-200">
						<ul
							class="flex flex-wrap -mb-px text-sm font-medium text-center"
							id="default-tab"
							data-tabs-toggle="#default-tab-content"
							role="tablist">
							<li
								class="me-2"
								role="presentation">
								<button
									class="inline-block p-4 border-b-2 rounded-t-lg text-gray-900"
									id="profile-tab"
									data-tabs-target="#profile"
									type="button"
									role="tab"
									aria-controls="profile"
									aria-selected="false">
									Activities
								</button>
							</li>
							<li
								class="me-2"
								role="presentation">
								<button
									class="inline-block p-4 text-gray-900 border-b-2 rounded-t-lg"
									id="dashboard-tab"
									data-tabs-target="#dashboard"
									type="button"
									role="tab"
									aria-controls="dashboard"
									aria-selected="false">
									Lessons
								</button>
							</li>
						</ul>
					</div>
					<div id="default-tab-content">
						<div
							class="hidden p-4 rounded-lg bg-gray-50"
							id="profile"
							role="tabpanel"
							aria-labelledby="profile-tab">
							{% for activity in activities %}
							<article class="p-6 mb-6 text-base bg-white rounded-lg">
								<footer class="flex justify-between items-center mb-2">
									<div class="flex items-center">
										<p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">
											<i
												class="fa fa-user-circle mr-2"
												aria-hidden="true"></i>
											{{room.instructor.first_name}}
										</p>
										<p class="text-sm text-gray-600">
											<time
												pubdate
												datetime="2022-02-08"
												title="February 8th, 2022">
												{{activity.posted}}
											</time>
										</p>
									</div>
									{% for pass_activity in activity.passactivity_set.all %} {% if pass_activity.submitBy == user %}
									<p>
										<b>Score:</b>
										{{pass_activity.score}}
									</p>
									{% else %}
									<p class="bg-black">Not yet Submitted Work</p>
									{% endif %} {% endfor %}
								</footer>
								<p class="text-orange-800 my-3 font-bold">{{activity.title}}</p>
								<p class="text-gray-500">{{activity.description}}</p>
								<!-- {% if activity.deadline < timezone.now %}
						<div class="flex items-center mt-4 space-x-4">
							<button
								data-modal-target="{{activity.id}}-modal"
								data-modal-toggle="{{activity.id}}-modal"
								class="flex items-center text-sm text-gray-500 hover:underline font-medium">
								<i
									class="fa fa-file mr-2"
									aria-hidden="true"></i>
								Submit Activity File
							</button>
						</div>

						{% else %}
						<p class="text-red-400 font-bold mt-4">Deadline is over, you can't submit the file</p>
						{% endif %} -->
								<div class="flex items-center mt-4 space-x-4 flex-wrap">
									<button
										data-modal-target="{{activity.id}}-modal"
										data-modal-toggle="{{activity.id}}-modal"
										class="flex items-center text-sm bg-orange-700 py-1.5 px-3 rounded-xl text-white hover:underline font-medium">
										<i
											class="fa fa-file mr-2"
											aria-hidden="true"></i>
										Submit Work
									</button>

									{% for pass_activity in activity.passactivity_set.all %} 
										{% if pass_activity.submitBy == user %} 
											{% if pass_activity.file %}
												<p>Already submitted: {{ pass_activity.file.name }}</p>
											{% else %}
												<p>Submitted (No File Attached)</p>
											{% endif %} 
										{% else %}
											<p class="bg-black">Not yet Submitted Work</p>
										{% endif %} 
									{% endfor %}
								</div>
							</article>

							<div
								id="{{activity.id}}-modal"
								tabindex="-1"
								aria-hidden="true"
								class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative p-4 w-full max-w-2xl max-h-full">
									<!-- Modal content -->
									<div class="relative bg-white rounded-lg shadow">
										<!-- Modal header -->
										<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
											<h3 class="text-xl font-semibold text-orange-900">Submit work on {{activity.title}}</h3>

											<button
												type="button"
												class="text-orange-400 bg-transparent hover:bg-orange-200 hover:text-orange-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
												data-modal-hide="default-modal">
												<svg
													class="w-3 h-3"
													aria-hidden="true"
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 14 14">
													<path
														stroke="currentColor"
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
												</svg>
												<span class="sr-only">Close modal</span>
											</button>
										</div>
										<form
											class="max-full mx-auto"
											method="POST"
											enctype="multipart/form-data">
											{% csrf_token %}
											<!-- Modal body -->
											<div class="p-4 md:p-5 space-y-4">
												<input
													type="hidden"
													name="activity_id"
													value="{{activity.id}}" />
												<label
													class="block mb-2 text-sm font-medium text-gray-900"
													for="file_input">
													Submit Work
												</label>
												<input
													class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50focus:outline-none"
													id="file_input"
													type="file"
													name="file" />
											</div>
											<!-- Modal footer -->
											<div class="flex items-center p-4 md:p-5 border-t border-orange-200 rounded-b">
												<button
													type="submit"
													name="submit"
													class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
													<i
														class="fa fa-plus"
														aria-hidden="true"></i>
													Submit
												</button>
												<button
													data-modal-hide="default-modal"
													type="button"
													class="py-2.5 px-5 ms-3 text-sm font-medium text-orange-900 focus:outline-none bg-white rounded-lg border border-orange-200 hover:bg-orange-100 hover:text-orange-700 focus:z-10 focus:ring-4 focus:ring-orange-100">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div
							class="hidden p-4 rounded-lg bg-gray-50"
							id="dashboard"
							role="tabpanel"
							aria-labelledby="dashboard-tab">
							{% for lesson in lessons %}
							<article class="p-6 mb-6 text-base bg-white rounded-lg">
								<footer class="flex justify-between items-center mb-2">
									<div class="flex items-center">
										<p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">
											<i
												class="fa fa-user-circle mr-2"
												aria-hidden="true"></i>
											{{lesson.teacher.first_name}}
										</p>
										<p class="text-sm text-gray-600">
											<time
												pubdate
												datetime="2022-02-08"
												title="February 8th, 2022">
												{{lesson.date_posted}}
											</time>
										</p>
									</div>
									
								</footer>
								<p class="text-orange-800 my-3 font-bold">{{lesson.title}}</p>
								<p class="text-gray-500 mb-4">{{lesson.description}}</p>
								{% if lesson.lesson_file %}
								<a
									href="{{ lesson.lesson_file.url }}"
									download=""
									class="mt-14 bg-orange-600 text-white py-1.5 px-4 rounded-lg">
									Download Lesson File
								</a>
								{% endif %}
							</article>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
